.admin-dash body {
  /* color: #797979;
  background: #f1f2f7;
  font-family: "Open Sans", sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 13px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; */
}

.admin-dash .profile-nav,
.admin-dash .profile-info {
  margin-top: 30px;
}

.admin-dash .profile-nav .user-heading {
    background-color: rgb(32, 193, 189, .8);
    color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 30px;
  text-align: center;
}

.admin-dash .profile-nav .user-heading.round a {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
}
.collapse{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.admin-dash .profile-nav .user-heading a img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.admin-dash .profile-nav .user-heading h1 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 5px;
}

.admin-dash .profile-nav .user-heading p {
  font-size: 12px;
}

.admin-dash .profile-nav ul {
  margin-top: 1px;
}

.admin-dash .profile-nav ul > li {
  border-bottom: 1px solid #ebeae6;
  margin-top: 0;
  line-height: 30px;
}

.admin-dash .profile-nav ul > li:last-child {
  border-bottom: none;
}

.admin-dash .profile-nav ul > li > a {
  border-radius: 0;
  -webkit-border-radius: 0;
  color: #89817f;
  border-left: 5px solid #fff;
}

.admin-dash .profile-nav ul > li > a:hover,
.profile-nav ul > li > a:focus,
.profile-nav ul li.active a {
  background: #f8f7f5 !important;
  border-left: 5px solid #fbc02d;
  color: #89817f !important;
}

.admin-dash .profile-nav ul > li:last-child > a:last-child {
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}

.admin-dash .profile-nav ul > li > a > i {
  font-size: 16px;
  padding-right: 10px;
  color: #bcb3aa;
}

.admin-dash .r-activity {
  margin: 6px 0 0;
  font-size: 12px;
}

.admin-dash .p-text-area,
.p-text-area:focus {
  border: none;
  font-weight: 300;
  box-shadow: none;
  color: #c3c3c3;
  font-size: 16px;
}

.admin-dash .profile-info .panel-footer {
  background-color: #f8f7f5;
  border-top: 1px solid #e7ebee;
}

.admin-dash .profile-info .panel-footer ul li a {
  color: #7a7a7a;
}

.admin-dash .bio-graph-heading {
    background-color: rgb(32, 193, 189);
    color: #fff;
  text-align: center;
  font-style: italic;
  padding: 40px 110px;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 300;
}

.admin-dash .bio-graph-info {
  color: #89817e;
}

.admin-dash .bio-graph-info h1 {
  font-size: 22px;
  font-weight: 300;
  margin: 0 0 20px;
}

.admin-dash .bio-row {
  width: 50%;
  float: left;
  margin-bottom: 10px;
  padding: 0 15px;
}

.admin-dash .bio-row p span {
  width: 100px;
  display: inline-block;
}

.admin-dash .bio-chart,
.bio-desk {
  float: left;
}

.admin-dash .bio-chart {
  width: 40%;
}

.admin-dash .bio-desk {
  width: 60%;
}

.admin-dash .bio-desk h4 {
  font-size: 15px;
  font-weight: 400;
}

.admin-dash .bio-desk h4.terques {
  color: #4cc5cd;
}

.admin-dash .bio-desk h4.red {
  color: #e26b7f;
}

.admin-dash .bio-desk h4.green {
  color: #97be4b;
}

.admin-dash .bio-desk h4.purple {
  color: #caa3da;
}

.admin-dash .file-pos {
  margin: 6px 0 10px 0;
}

.admin-dash .profile-activity h5 {
  font-weight: 300;
  margin-top: 0;
  color: #c3c3c3;
}

.admin-dash .summary-head {
  background: #ee7272;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #ee7272;
}

.admin-dash .summary-head h4 {
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.admin-dash .summary-head p {
  color: rgba(255, 255, 255, 0.6);
}

.admin-dash ul.summary-list {
  display: inline-block;
  padding-left: 0;
  width: 100%;
  margin-bottom: 0;
}

.admin-dash ul.summary-list > li {
  display: inline-block;
  width: 19.5%;
  text-align: center;
}

.admin-dash ul.summary-list > li > a > i {
  display: block;
  font-size: 18px;
  padding-bottom: 5px;
}

.admin-dash ul.summary-list > li > a {
  padding: 10px 0;
  display: inline-block;
  color: #818181;
}

.admin-dash ul.summary-list > li {
  border-right: 1px solid #eaeaea;
}

.admin-dash ul.summary-list > li:last-child {
  border-right: none;
}

.admin-dash .activity {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.admin-dash .activity.alt {
  width: 100%;
  float: right;
  margin-bottom: 10px;
}

.admin-dash .activity span {
  float: left;
}

.admin-dash .activity.alt span {
  float: right;
}
.admin-dash .activity span,
.activity.alt span {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #eee;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.admin-dash .activity.terques span {
  background: #8dd7d6;
}

.admin-dash .activity.terques h4 {
  color: #8dd7d6;
}
.admin-dash .activity.purple span {
  background: #b984dc;
}

.admin-dash .activity.purple h4 {
  color: #b984dc;
}
.admin-dash .activity.blue span {
  background: #90b4e6;
}

.admin-dash .activity.blue h4 {
  color: #90b4e6;
}
.admin-dash .activity.green span {
  background: #aec785;
}

.admin-dash .activity.green h4 {
  color: #aec785;
}

.admin-dash .activity h4 {
  margin-top: 0;
  font-size: 16px;
}

.admin-dash .activity p {
  margin-bottom: 0;
  font-size: 13px;
}

.admin-dash .activity .activity-desk i,
.activity.alt .activity-desk i {
  float: left;
  font-size: 18px;
  margin-right: 10px;
  color: #bebebe;
}

.admin-dash .activity .activity-desk {
  margin-left: 70px;
  position: relative;
}

.admin-dash .activity.alt .activity-desk {
  margin-right: 70px;
  position: relative;
}

.admin-dash .activity.alt .activity-desk .panel {
  float: right;
  position: relative;
}

.admin-dash .activity-desk .panel {
  background: #f4f4f4;
  display: inline-block;
}

.admin-dash .activity .activity-desk .arrow {
  border-right: 8px solid #f4f4f4 !important;
}
.admin-dash .activity .activity-desk .arrow {
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  display: block;
  height: 0;
  left: -7px;
  position: absolute;
  top: 13px;
  width: 0;
}

.admin-dash .activity-desk .arrow-alt {
  border-left: 8px solid #f4f4f4 !important;
}

.admin-dash .activity-desk .arrow-alt {
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  display: block;
  height: 0;
  right: -7px;
  position: absolute;
  top: 13px;
  width: 0;
}

.admin-dash .activity-desk .album {
  display: inline-block;
  margin-top: 10px;
}

.admin-dash .activity-desk .album a {
  margin-right: 10px;
}

.admin-dash .activity-desk .album a:last-child {
  margin-right: 0px;
}

.admin-dash .biochartDiv {
  display: inline;
  width: 100px;
  height: 100px;
}

.admin-dash .biochartInput {
  width: 54px;
  height: 33px;
  position: absolute;
  vertical-align: middle;
  margin-top: 33px;
  margin-left: -77px;
  border: 0px;
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-size: 20px;
  line-height: normal;
  font-family: Arial;
  text-align: center;
  color: rgb(203, 164, 219);
  padding: 0px;
  -webkit-appearance: none;
  background: none;
}


.admin-dash .userAccount .active{
  background-color: white !important;
}

.admin-dash .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: black;
}