.productform form input{
	border:0;
	height:50px;
	border-radius:0;
border-bottom:1px solid #ebebeb;	
}
.productform form input:focus{
border-bottom:1px solid #007bff;	
box-shadow:none;
outline:0;
background-color:#ebebeb;	
}


.productform form select{
	border:0;
	height:50px;
	border-radius:0;
border-bottom:1px solid #ebebeb;	
}
.productform form select:focus{
border-bottom:1px solid #007bff;	
box-shadow:none;
outline:0;
background-color:#ebebeb;	
}


.productform form textarea{
	border:0;
	height:50px;
	border-radius:0;
border-bottom:1px solid #ebebeb;	
}
.productform form textarea:focus{
border-bottom:1px solid #007bff;	
box-shadow:none;
outline:0;
background-color:#ebebeb;	
}
.sideline {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
	color:#ccc;
}
.productform .form-group{
    padding-right: 40px !important;
}
.productform .btn{
    background-color: #20C1BD;
    margin-left: 10px;
}

.productform #createProductFormImage {
	width: 100%;
	overflow: auto;
  }
  
 .productform #createProductFormImage > img {
	width: 3vmax;
	margin: 0 0.5vmax;
  }